{% extends 'base.html' %}
{% load static %}
{% load cart %}

{% block style %}
    <link href="{% static 'css/pizza.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'pubs/pizza/filters.html' %}
    {% include 'pagination.html' %}
    <ul class="pizza-list">
        {% for pizza in page_obj %}
            <li>
                <img src="{{ pizza.image.url }}" height="180" width="100%" />
                <div class="name-and-price">
                    <div>{{ pizza.name }}</div>
                    <div>{{ pizza.price }} RON</div>
                </div>
                <div class="pub-details">
                    Sold by
                    <a href="/pubs/{{ pizza.pub.id }}">{{ pizza.pub.name }}</a>
                </div>
                <form class="add-to-cart" method="post" action="{% url 'pubs:pizza:add_to_cart' pizza.id %}">
                    {% csrf_token %}
                    <input name="quantity" type="number" min="0" value="{{ request.session | pizza_value:pizza.id }}" />
                    <input type="submit" value="Add to cart" />
                    <input type="hidden" name="page" value="{{ page_obj.number }}" />
                </form>
            </li>
        {% endfor %}
    </ul>
    {% include 'pagination.html' %}
{% endblock %}