{% extends 'base.html' %}

{% block content %}
    <div>
        <div>{{pub.name}}</div>
        <div><img src="{{ pub.logo.url }}" width="100" /></div>
        <ul>
            {% for bundle in pub.bundle.all %}
                <li>
                    <div>{{bundle.name}}</div>
                    <div>{{bundle.price}}</div>
                    <p>products:</p>
                    <ul>
                        {% for pub_product in bundle.products.all %}
                            <li>
                                <div>Name: {{ pub_product.product.name }}</div>
                                <div>{{ pub_product.price }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}