{% load static %}
{% load cart %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/mini-cart.css' %}" />
{% endblock %}

{% cart_data as cart_data %}

<a href="{% url 'pubs:cart:view' %}">
    <div class="mini-cart-container" title="Total price of the cart: {{ cart_data.price }}">
        {% comment %}
            <div class="number">{{ request.session.cart | products_or_price:'products' }}</div>
        {% endcomment %}
        <div class="number">{{ cart_data.products }}</div>
        <div class="icon-container">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</a>