{% load static %}

{% block style %}
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


<div class="pagination">
    <a class="wrapper circle" href="{% url 'stores:pizza:list' %}?page=1">
        <i class="fas fa-angle-double-left"></i>
    </a>
    {% if page_obj.has_previous %}
        <a class="wrapper circle" href="{% url 'stores:pizza:list' %}?page={{ page_obj.previous_page_number }}">
    {% else %}
        <a class="wrapper circle">
    {% endif %}
        <i class="fas fa-angle-left"></i>
    </a>

    {% for page in page_obj.paginator %}
        <a class="wrapper {% if page_obj.number == page.number %}active{% endif %}" href="?page={{ page.number }}">{{ page.number }}</a>
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="wrapper circle" href="{% url 'stores:pizza:list' %}?page={{ page_obj.next_page_number }}">
    {% else %}
        <a class="wrapper circle">
    {% endif %}
      <i class="fas fa-angle-right"></i>
    </a>
    <a class="wrapper circle" href="{% url 'stores:pizza:list' %}?page={{ page_obj.paginator.num_pages }}">
        <i class="fas fa-angle-double-right"></i>
    </a>
</div>