<div class="filters-wrapper">
    <form class="filters" method="get" action="{% url 'pubs:bundle:list' %}">
        <div class="top-filters">
        {% for field in form %}
        {% if field.id_for_label %}
            {% if field.id_for_label == 'id_search_term' %}
            <div class="flex-valign search-by-field">
            {% else %}
            <div class="flex-valign">
            {% endif %}
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% else %}
        </div>
        <div class="products-wrapper">
            {{ field }}
        </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Apply filters" />
        <a href="{% url 'pubs:bundle:list' %}">Reset filters</a>
    </form>
</div>