{% extends 'base.html' %}
{% load static %}
{% load cart %}

{% block style %}
    <link href="{% static 'css/bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'pubs/bundle/filters.html' %}
    {% include 'pagination.html' %}
    <ul class="bundle-list">
        {% for bundle in page_obj %}
            <li>
                <img src="{{ bundle.image.url }}" height="180" width="100%" />
                <div class="name-and-price">
                    <div>{{ bundle.name }}</div>
                    <div>{{ bundle.price }} RON</div>
                </div>
                <div class="pub-details">
                    Sold by
                    <a href="/pubs/{{ bundle.pub.id }}">{{ bundle.pub.name }}</a>
                </div>
                <form class="add-to-cart" method="post" action="{% url 'pubs:bundle:add_to_cart' bundle.id %}">
                    {% csrf_token %}
                    <input name="quantity" type="number" min="0" value="{{ request.session | bundle_value:bundle.id }}" />
                    <input type="submit" value="Add to cart" />
                    <input type="hidden" name="page" value="{{ page_obj.number }}" />
                </form>
            </li>
        {% endfor %}
    </ul>
    {% include 'pagination.html' %}
{% endblock %}